@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR";
}
/* 
    weight:
    psd / code
    thin(hairline) / 100
    extraLight / 200
    light - 300
    regular - 400(default)
    medium - 500
    semibold - 600
    bold - 700
    extrabold - 800
    black - 900
*/
h1{
    font-size: 70px; font-weight: 100;
}