header div nav ul li a,
header div>ul li,
footer *{
    font-family: 'Roboto';
}
header div>ul li h2{
    font-family: 'Playfair Display';
}

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.btn_more{
    font-family: 'Hammersmith One'; font-weight: 400; font-size: 16px;
    border: 1px solid #00e0d0; color: #00e0d0; display: block;
    text-align: center; padding: 12px 0.6%; box-sizing: border-box; margin: 0 auto;
}
@media screen and (min-width: 1280px){
    footer>div{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
    }

    header{
        padding: 15px 0 70px; background: url('../images/bg_01.png') no-repeat left top / cover;
    }
    header div{
        max-width: 940px; margin: 0 auto; position: relative;
    }
    header div h1{
        max-width: 128px;
    }
    header div h1 *{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div nav{
        position: absolute; right: 0; top: 0; padding-left: 130px; width: 100%; 
        text-align: right; box-sizing: border-box;
        /* width: calc(100% - 130px); */
    }
    header div nav ul li{
        display: inline-block;
    }
    header div nav ul li:not(:first-child){
        margin-left: 2.65%;
    }
    header div nav ul li a{
        display: block; font-size: 13px; font-weight: 900; color: #fff;
        line-height: 50px;
    }
    header div nav ul li a.active,
    header div nav ul li a:hover{
        color: #00e0d0;
    }
    /* header GNB Fin */

    header div>ul{
        margin-bottom: 125px;
    }
    header div>ul li{
        padding-top: 165px;
    }
    header div>ul li h2{
        font-size: 32px; font-weight: 900; color: #fff; text-align: center;
        padding-bottom: 20px; background: url('../images/border.png') no-repeat center bottom;
        margin-bottom: 30px;
    }
    header div>ul li p{
        font-size: 14px; font-weight: 300; line-height: 24px; color: #fff; text-align: center;
        max-width: 775px; margin: 0 auto 50px;
    }
    header div>ul li a.btn_more{
        max-width: 120px;
    }
    header div ol{
        text-align: center;
    }
    header div ol li{
        display: inline-block;
    }
    header div ol li a{
        display: block; text-indent: -9999px; width: 10px; height: 10px;
        border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 5px;
        box-sizing: border-box;
    }
    header div ol li a.active,
    header div ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* header Fin */
    
    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer>div div:not(:last-of-type){
        width: 31%; float: left; margin: 0 0 70px 3.5%;
    }
    footer>div div:first-of-type{
        margin-left: 0;
    }
    footer>div div h2{
        margin-bottom: 20px;
    }
    footer>div div:not(:first-of-type) h2{
        font-size: 15px; font-weight: 900; color: #fff; line-height: 50px;
    }
    footer>div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: #fff;
    }
    footer>div div:not(:nth-of-type(3)) a{
        color: inherit;
    }
    footer>div div:last-of-type{
        clear: left;
    }
}