body{
    margin: 0;
}
.firstDiv{
    background-color: #555;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    margin: 10px;
    /* secondDiv와 만나는 margin-bottom: 10px은 상쇄됨 - 그렇기 때문에 marign-top을 안쓰고 주로 bottom 사용 */
}
.firstDiv article{
    background-color: #039; color: white;
}
.secondDiv{
    background-color: #aaa;
    margin: 30px 30px 0;
    /* 2. 그렇기 때문에 margin과 padding을 올바르게 사용해야 한다. */
    padding: 0 0 50px 30px;
    /* 
        4개의 방향이 적용될 때
        1개 - 4방향
        2개 - 위, 아래 / 오른쪽, 왼쪽
        3개 - 위 / 오른쪽, 왼쪽 / 아래
    */
}
.secondDiv article{
    background-color: #930;
    /* 1. margin-bottom: 50px; margin-left: 30px; - 잘못 사용된 예 */
}
.centerDiv{
    width: 300px; border: 1px solid #33f; padding: 10px; text-align: center;
    margin: 0 auto;
    /* (부모너비 - 대상너비) / 2 --> 0 auto(좌, 우 공통배분) */
    /* margin-left: auto; */
    /* (부모너비 - 대상너비) --> left: auto(좌 자동배분) */
}
.centerDiv article{
    margin: 10px;
}

.paddingDiv{
    width: 100px; background-color: #ff3; padding: 20px; border: 10px solid black;
    box-sizing: content-box;
    /* box-sizing: border-box(border,padding 내부합산), content-box(border,padding 외부합산) */
}
.test{
    margin: 0; padding: 0; list-style: none;
}
.test li{
    float: left; width: 30.33%; background-color: lightgreen; height: 300px; padding: 0 1.5%;
    border: 1px solid black; box-sizing: border-box;
    /* border는 % 단위 연산이 불가함으로 단위가 다른 연산처리를 해야할 때 box-sizing: border-box 사용 */
}